* {
  margin: auto;
  text-align: center;
}

body {
  background-color: lightblue;
}

h1 {
  color: navy;
  box-align: center;
}

table {
  border: 10px solid black;
}
td, {
  border: 10px solid black;
}
th {
  border: 10px solid black;
}
ul {
  width: 100px;
  max-height: 400px;
  overflow: auto;
}