* {
  margin: auto;
  text-align: center;
}

canvas	{
	border-color: red;
}
.vertical-menu button {
		display: block;
		padding: 6px;
		background-color: #eee;
		color: black;
		text-decoration: none;
}

.vertical-menu button:hover {
		background-color:#ccc;
}
.vertical-menu a.active {
		background-color: #4caf50;
		color: white;
}
.collapsible {
		padding:6px;
}
.active, collapsible:hover {
		background-color:#ccc;
}
.content {
		display:none;
		overflow:hidden;
		background-color: #f1f1f1;
}
