#game {
	width:1000px;
	height:1000px;
	background-color:white;
}
#game .screen {
	height:100%;
	width:100%;
	display: none;
}

#game .screen.active {
	display: block;
}

ul.menu {
	text-align:center;
	list-style:none;
}

#ul.menu li button {
	border:none;
	color: white;
	padding: 15px, 32px;
	text-decoration:none;
	background-color: blue;
}

#ul.menu li button:hover {
	background-color: aqua;
}
