body {
	background-image:url("scripts/render/assets/space1.png");
	background-repeat: no-repeat;
	background-size: cover;
}
#game {
	border: 3px solid yellow;
	margin:0;
	width:100%;
	height:100%;
}
#game .screen {
	height:100%;
	width:100%;
	display: none;
}

#game .screen.active {
	display: block;
}
table.center{
	margin-left: auto;
	margin-right:auto;
}
h2.center, h1.center {
	text-align:center;
}
ul.menu {
	text-align:center;
	list-style:none;
}

#ul.menu li button {
	border:none;
	color: white;
	padding: 15px, 32px;
	text-decoration:none;
	background-color: blue;
}

#ul.menu li button:hover {
	background-color: aqua;
}
